{{>site-nav}}
<div class="container">
    <div class="content">
        <header>
            <h2>BLOG</h2>
        </header>
        <div class="content-items">
            {{#each posts}}
            <div class="item">
                <div class="item-img" style="background: url({{postImage}}); background-size: 100% 100%"></div>
                <div class="item-right">
                    <h3>
                        <a href="/posts/{{_id}}" class="item-title">{{title}}</a>
                    </h3>
                    <span>@{{author}}</span>
                    <span>{{generateDate post.date "MM/DD/YYYY"}}</span>
                    <span style="float: right; margin-right: 15px">387</span>
                    <div class="item-description">
                        {{{description}}}
                    </div>
                    <a href="/posts/{{_id}}" class="item-button">Devamını Oku </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <aside>
        <div class="card">
            <h1>Giriş Yap</h1>
            <form method="POST">
                <div class="txt-field">
                    <input type="text" required />
                    <span></span>
                    <label>Kullanıcı Adı</label>
                </div>
                <div class="txt-field">
                    <input type="password" required />
                    <span></span>
                    <label>Şifre Giriniz</label>
                </div>
                <div class="pass">Şifremi Unuttum?</div>
                <input type="submit" value="Giriş Yap" />
                <div class="signup-link">
                    Hesabınız Yok Mu? <a href="#">Kayıt Ol</a>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-header">
                <h1>Son Eklenenler</h1>
            </div>
            {{#each posts}}
            <div class="item">
                <div class="item-img" style="background: url({{postImage}}); background-size: 100% 100%"></div>
                <div class="box">
                    <h4><a href="/posts/{{_id}}">{{title}}</a></h4>
                    <div class="description">
                        {{{description}}}
                    </div>
                    <a href="/posts/{{_id}}">Yaziya git</a>
                    <div class="extra">698 görüntülenme</div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Popüler</h1>
            </div>
            <div class="item">
                <div class="item-img" style="background: url(img/html.jpg); background-size: 100% 100%"></div>
                <div class="box">
                    <h4><a href="#">HTML Video Ekleme ve Otomatik Oynatma</a></h4>
                    <div class="description">
                        <p>
                            HTML5’in piyasaya sürülmesiyle, video etiketi çok rahat bir
                            şekilde eklemek... <a href="#">Yaziya git</a>
                        </p>
                    </div>
                    <div class="extra">698 görüntülenme</div>
                </div>
            </div>

        </div>
    </aside>
</div>
{{>site-footer}}