{{>site-nav}}
<div class="img-slider">
    <div class="slide active">
        <img src="img/baris.jpg" alt="" />
        <div class="info">
            <h2>Slide 01</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class="slide">
        <img src="{{postImage}}" alt="" />
        <div class="info">
            <h2>Slide 02</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
    </div>
</div>

<div class="card-container">
    {{#each posts}}
    <div class="card" onclick="location.href='/blog/{{_id}}';">
        <div class="card-image" style="background: url({{postImage}}); background-size: 100% 100%"></div>
        <div class="card-text">
            <span class="date">{{generateDate date "MM/DD/YYYY"}}</span>
            <h2>{{title}}</h2>
            <div class="card-description">
                {{{description}}}
            </div>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value">4<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stat border">
                <div class="value">5123</div>
                <div class="type">views</div>
            </div>
            <div class="stat">
                <div class="value">32</div>
                <div class="type">comments</div>
            </div>
        </div>

    </div>
    {{/each}}
</div>
{{>site-footer}}