{{>site-nav}}
<div class="container">
    <div class="section">
        <header>
            <h1>{{post.title}}</h1>
        </header>

        <div class="author">
            <div class="author-picture" style="background: url({{post.authorImage}}); background-size: 100% 100%"></div>
            <h1>{{post.author}} {{generateDate post.date "MM/DD/YYYY"}}</h1>
        </div>
        <div class="article">
            <p>{{post.description}}</p>
        </div>
    </div>
    <aside>
        <div class="card">
            <h1>Giriş Yap</h1>
            <form method="POST">
                <div class="txt-field">
                    <input type="text" required />
                    <span></span>
                    <label>Kullanıcı Adı</label>
                </div>
                <div class="txt-field">
                    <input type="password" required />
                    <span></span>
                    <label>Şifre Giriniz</label>
                </div>
                <div class="pass">Şifremi Unuttum?</div>
                <input type="submit" value="Giriş Yap" />
                <div class="signup-link">
                    Hesabınız Yok Mu? <a href="#">Kayıt Ol</a>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Son Eklenenler</h1>
            </div>

            <div class="item">
                <div class="item-img" style="background: url({{post.postImage}}); background-size: 100% 100%"></div>
                <div class="box">
                    <h4><a href="#">{{post.title}}</a></h4>
                    <div class="description">
                        <p>
                            {{post.description}}
                        </p>
                        <a href="/posts/{{post._id}}">Yaziya git</a>
                    </div>
                    <div class="extra">698 görüntülenme</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Popüler</h1>
            </div>
            <div class="item">
                <div class="item-img" style="background: url(img/html.jpg); background-size: 100% 100%"></div>
                <div class="box">
                    <h4><a href="#">HTML Video Ekleme ve Otomatik Oynatma</a></h4>
                    <div class="description">
                        <p>
                            HTML5’in piyasaya sürülmesiyle, video etiketi çok rahat bir
                            şekilde eklemek... <a href="#">Yaziya git</a>
                        </p>
                    </div>
                    <div class="extra">698 görüntülenme</div>
                </div>
            </div>
        </div>
    </aside>
</div>

<div class="comments">
    <div class="comment-area">
        <form action="post">
            <label>Yorum</label><br />
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <br />
            <label>Kullanıcı adı</label><br />
            <input type="text" />
            <br />
            <label>Email</label><br />
            <input type="text" />
            <br />
            <input type="checkbox" /><label>Beni sonraki yorumlar için e-posta ile bilgilendir.</label>
            <br />
            <input type="checkbox" /><label>Beni yeni yazılarda e-posta ile bilgilendir.</label>
            <br />
            <input type="submit" value="Yorum Gönder" />
            <br /><br /><br />
        </form>
    </div>
</div>
{{>site-footer}}